* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right,  #001a1a, #003333, #004d4d, teal);
    overflow-x: hidden;

}

.div1 {
    background-image: url('./staticHulu_assets/toppic.jpg');
    background-size: cover;
    height: 650px;
    width: 100vw;
    text-align: center;
    padding-top: 30px;
    margin: 0px;
}

h4 {/* try up to */
    padding-top: 80px; 
    font-weight: 600;
}

h4, h1 {
    color: rgb(28, 255, 141);
}

h1 { /* hulu */
    font-family: 'Do Hyeon', sans-serif;
    font-size: 175px;
    margin: 6px;
    letter-spacing: 13px;
}

h2 { /* watch thousands */
    font-size: 20pt;

}

h4, h2 {
    font-family: 'Noto Sans', sans-serif;
    margin: 6px;
}

h2, h3 {
    color: white;
}

h3 { /* hbo max */
    font-family: 'Arimo', sans-serif;
    font-weight: lighter;
    margin: 20px;
}

p {
    color: grey;
    margin: 10px;
}

.loginbutton {
    background-color: transparent;
    border: none;
    color: white;
    float: right;
    margin: 35px;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-size: 14pt;
}

.startbutton {
    background-color: white;
    margin: 12px;
    padding: 28px;
    border-radius: 8px;
    border: none;
    color: black;
    font-size: 12pt;
    font-weight: 900;
    letter-spacing: 2px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 175px;
    justify-content: space-between;
    align-items: center;
}

.item {
    padding: .1rem;
    text-align: center;
    color: white;
    width: 550px;
}

.item1 {
    display: inline-flex;
}

.item2 {
}

.item3 {
    text-align: center;
}

ul {
    list-style-type: none;
}

.getBundleButton {
    border: 3px solid white;
    background: transparent;
    color: white;
    padding: 20px;
    border-radius: 7px;
    font-family: 'Arimo', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    float: right;
    margin: 35px 35px 10px ;
}



.div3 {
    background-image: url('https://www.hulu.com/static/hitch/s3/2020-07/Tablet-768_Content-Grid%20%281%29.jpg?Zn7GCNjjcIjjFR5p3aAiSY3w7gGqtVx6');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

.logos {
    display: inline-flex;
}